* {
    padding: 0%;
    margin: 0%;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
    background-image: linear-gradient(to top left, red, pink);
}